:root {
    /*------------
        COLORS
    ------------*/
    --primary-color-text: #fff;
    --secondary-color-text: #2b2e32;
    --tertiary-color-text: #545959;
    --quaternary-color-text: #427ed1;
    --quinary-color-text: #d4d4d5;
    --senary-color-text: #65bc7b;
    --bg-color-brand-section: #d4d4d5;
    --bg-color-stars: #427ed1;;
    --bg-color-active-link: #427ed1;
    --bg-primary-color-social: #575c61;
    --bg-secondary-color-social: #d4d4d5;
    --bg-color-button: #427ed1;
    --bg-color-rectangular-button: #f6f6f6;

    /*----------------
        CONTAINERS
    ----------------*/
    --container-md: 80rem;

}