:root {
    /*------------
        COLORS
    ------------*/
    --primary-bg-color: #d4d4d5;
    --secondary-bg-color: #303337;
    --tertiary-bg-color: #2b2e32;
    --quaternary-bg-color: #1d1f22;
    --quinary-bg-color: #f6f6f6;
    --primary-color-text: #fff;
    --secondary-color-text: #2b2e32;
    --tertiary-color-text: #545959;
    --quaternary-color-text: #427ed1;
    --quinary-color-text: #d4d4d5;
    --senary-color-text: #494949;
    --septenary-color-text: #74797f;
    --primary-color-social: #575c61;
    --secondary-color-social: #d4d4d5;
    --color-active-link: #427ed1;
    --bg-color-stars: #427ed1;;
    --bg-color-button: #427ed1;
    --bg-color-rectangular-button: #f6f6f6;
    --bg-color-scroll: #c1c1c1;
    --bg-color-button-hover: #e282b2;

    /*----------------
        CONTAINERS
    ----------------*/
    --container-md: 68.75rem;

}